.button__container {
    
    background-color: var(--color-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.button {
    width: 100%;
    max-width: var(--size-l) ;
    height: var(--size-m);
    padding: var(--size-s);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1rem;
    line-height: 2.5rem;
    letter-spacing: 0.3rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;

    color: var(--color-main-text);
    cursor: pointer;
    transition: all 0.5s ease-in;
}

.button:hover {
    color: var(--color-link);
}

.button svg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.button rect {
    fill: none;
    stroke: var(--color-main-text);
    stroke-width: 2;
    stroke-dasharray: 450, 0;
    transition: all 0.5s linear;
}

.button:hover rect {
    stroke-width: 5px;
    stroke-dasharray: 20, 300;
    stroke-dashoffset: calc( var(--size-l) / 2)  ;
    stroke: var(--color-title-2);
    transition: all 0.8s cubic-bezier(0.22, 1, 0.25, 1);
}
