.button__container,
.button__container * {
    /* Colores */
    --color-text: var(--color-main-text);
    --color-primary: var(--color-title-2);
    --color-secondary: var(--color-link);
    --color-background: var(--color-bg);

    /* Tipografía */
    --font-size: var(--font-size-ms);
    --font-family: var(--font-family-secondary);
    
    /* Tamaños */
    --size-width: var(--size-l);
    --size-height: var(--size-m);
    --size-padding: var(--size-s);
    --size-dashoffset: calc(var(--size-width) / 1.3);
}

.button__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: var(--color-background); */
}

.button {
    width: 100%;
    max-width: var(--size-width); 
    min-height: var(--size-height);
    max-height: 100%;
    padding: var(--size-padding);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: var(--font-size);
    font-family: var(--font-family);
    font-weight: 600;
    line-height: 2.5rem;
    letter-spacing: 0.3rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-text);
    cursor: pointer;
    transition: all 0.5s ease-in;
}

.button:hover {
    color: var(--color-secondary);
}

.button svg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.button rect {
    fill: none;
    stroke: var(--color-text);
    stroke-width: 2;
    stroke-dasharray: 450, 0;
    transition: all 0.5s linear;
}

.button:hover rect {
    stroke-width: 5px;
    stroke-dasharray: 20, 300;
    stroke-dashoffset: var(--size-dashoffset);
    stroke: var(--color-primary);
    transition: all 0.8s cubic-bezier(0.22, 1, 0.25, 1);
}
