:root {
    /* Colores */
    --color-main-text: #E0DCF4;
    --color-secondary-text: #F7DDD8;

    --color-title: #b51a2a;
    --color-title-2: #ffa485;

    --color-link: rgb(245, 133, 96);
    --color-bg: #16182f;
    --color-bg-2: #292f49;
    --color-bg-3: #384358;

    /* Tipografía */
    --font-size-s: 0.622rem;
    --font-size-ms: 0.933rem;
    --font-size-m: 1.4rem;
    --font-size-ml: 2.1rem;
    --font-size-l: 3.1rem;
    --font-size-xl: 4.0rem;

    --font-family-primary: 'Saira', sans-serif;
    ;
    --font-family-secondary: 'Saira', sans-serif;
    ;

    /* medidas */
    --size-xs: 5px;
    --size-s: 10px;
    --size-ms: 20px;
    --size-m: 40px;
    --size-ml: 80px;
    --size-l: 160px;
    --size-xl: 320px;
    --size-xxl: 640px:
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--color-bg);
    color: var(--color-main-text);
    font-family: var(--font-family-secondary);
    font-style: normal;
    font-size: var(--font-size-m);
}

h1,
h2,
h3 {
    color: var(--color-title);
    text-align: center;
    font-family: var(--font-family-primary);
    font-weight: 400;
}

h1 {
    font-size: var(--font-size-xl);
}

h2 {
    font-size: var(--font-size-l);
}

h3 {
    font-size: var(--font-size-ml);
    color: var(--color-title-2);
}

a {
    font-family: var(--font-family-secondary);
    text-decoration: underline;
    color: var(--color-link);
}

ul {
    list-style: none;
}

.img img {
    width: 100%;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

/* header */
header {
    height: var(--size-ml);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.logo__container {
    width: 100px;
}

/* main */
main {
    width: 100%;
}

/* footer */
footer {
    padding: var(--size-m) var(--size-s);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

@media (width >=768px) {
    .header {
        position: sticky;
        top: -1px;
        background: var(--color-bg);
    }
}